<Layout>
  <div>
    <h2>Welcome to Staffeed!</h2>
    {{#if authManager.accessToken}}
      <LinkTo @route='survey' class='button'>Survey</LinkTo>
    {{else}}
      <LinkTo @route='login' class='button'>Login</LinkTo>
    {{/if}}
  </div>
</Layout>