<div class='grid min-h-screen min-w-full bg-bg-cover bg-cover items-center'>
  <div class='m-auto max-w-xs'>
    <form
      {{action 'authenticate' on='submit'}}
      class='bg-white rounded px-8 pt-6 pb-8 mb-4 shadow-2xl'
    >
      <div class='mb-4'>
        <label
          class='block text-gray-700 text-sm font-bold mb-2'
          for='username'
        >
          Username
        </label>
        <Input
          id='username'
          @type='text'
          @value={{this.username}}
          class='shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'
          placeholder='Username'
        />
      </div>
      <div class='mb-6'>
        <label
          class='block text-gray-700 text-sm font-bold mb-2'
          for='password'
        >
          Password
        </label>
        <Input
          id='password'
          @type='password'
          @value={{this.password}}
          class='shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline'
          placeholder='************'
        />
      </div>
      <div class='flex gap-2 flex-col items-center'>
        <button
          class='bg-black hover:bg-accent-orange-2 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full h-10'
          type='submit'
        >
          Sign In
        </button>
      </div>
    </form>
  </div>
</div>