{{page-title 'Privacy'}}
<Layout>
  <Container>
    <h2 class='text-2xl font-medium'>Privacy</h2>
    <p class='text-sm text-gray-400'>Employee Privacy Settings</p>
  </Container>
  <Container>
    <h2>Placeholder</h2>
  </Container>
</Layout>