{{page-title 'Productivity'}}
<Layout>
  <Container>
    <h2 class='text-2xl font-medium'>Employee Productivity</h2>
    <p class='text-sm text-gray-400'>Working Hours, Overtime and Breakdown</p>
  </Container>
  <Container>
    <h2>Placeholder</h2>
  </Container>
</Layout>