{{page-title 'Pulse'}}
<Layout>
  <Container>
    <h2 class='text-2xl font-medium'>Pulse</h2>
    <p class='text-sm text-gray-400'>Employee Pulse Survey Responses</p>
  </Container>
  <Container>
    <h2>Placeholder</h2>
  </Container>
</Layout>