{{page-title 'Survey'}}
{{outlet}}

<div class='p-10'>
  <h1>Survey Page</h1>
  <div id='question-response' class='mx-4'>
    <p>I receive meaningful recognition for doing work</p>
    <div class='flex flex-row space-x-3'>
      <div>
        <input type='radio' id='radio1' name='radioResponse' value='1' />
        <label for='radio1' class='inline-block'>1</label>
      </div>
      <div>
        <input type='radio' id='radio2' name='radioResponse' value='2' />
        <label for='radio2' class='inline-block'>2</label>
      </div>
      <div>
        <input type='radio' id='radio3' name='radioResponse' value='3' />
        <label for='radio3' class='inline-block'>3</label>
      </div>
      <div>
        <input type='radio' id='radio4' name='radioResponse' value='4' />
        <label for='radio4' class='inline-block'>4</label>
      </div>
      <div>
        <input type='radio' id='radio5' name='radioResponse' value='5' />
        <label for='radio5' class='inline-block'>5</label>
      </div>
    </div>
  </div>
</div>