{{page-title 'Survey'}}
{{outlet}}

<div class='p-10'>
  <h1>Survey Page</h1>
  {{#if authManager.accessToken}}
    <SurveyQuestion />
  {{else}}
    <p>Please login first!</p>
    <LinkTo @route='login' class='button'>Login</LinkTo>
  {{/if}}
</div>