{{page-title 'Survey'}}
{{outlet}}

<div class='p-10'>
  <h1>Survey Page</h1>
  <div id='question-response' class='mx-4'>
    <div class='container'>
      <div>
        <p class='py-4'>I receive meaningful recognition for doing work</p>
        <div class='flex flex-row space-x-3'>
          <input type='radio' id='radio1' name='response' value='1' />
          <label for='radio1'>1</label>
          <input type='radio' id='radio2' name='response' value='2' />
          <label for='radio2'>2</label>
          <input type='radio' id='radio3' name='response' value='3' />
          <label for='radio3'>3</label>
          <input type='radio' id='radio4' name='response' value='4' />
          <label for='radio4'>4</label>
          <input type='radio' id='radio5' name='response' value='5' />
          <label for='radio5'>5</label>
        </div>
      </div>
      <div>
        <p class='py-4'>Things you would like to share with your manager</p>
        <div class='flex flex-col'>
          <textarea
            id='textReview'
            name='textReview'
            rows='4'
            cols='50'
          ></textarea>
        </div>
      </div>
    </div>
  </div>
</div>