<Container>
  <h2 class='text-xl text-gray-500 font-normal mb-2 flex justify-between'>
    Meetings
  </h2>
  <div class='grid grid-cols-4 gap-0'>
    <div class='bg-gray-200 font-medium text-gray-600 px-4 py-1'>Meeting Name</div>
    <div class='bg-gray-200 font-medium text-gray-600 px-4 py-1'>Host</div>
    <div class='bg-gray-200 font-medium text-gray-600 px-4 py-1'>Date & Time</div>
    <div class='bg-gray-200 font-medium text-gray-600 px-4 py-1'>Duration</div>
    <div class='text-gray-600 px-4 py-1'>October Townhall</div>
    <div class='text-gray-600 px-4 py-1'>Benjamin Lim</div>
    <div class='text-gray-600 px-4 py-1'>22 Oct 2021 2:00pm</div>
    <div class='text-gray-600 px-4 py-1'>1:46</div>
    <div class='text-gray-600 px-4 py-1'>Sprint Planning</div>
    <div class='text-gray-600 px-4 py-1'>Chen Ri Sheng</div>
    <div class='text-gray-600 px-4 py-1'>20 Oct 2021 10:00pm</div>
    <div class='text-gray-600 px-4 py-1'>10:45</div>
    <div class='text-gray-600 px-4 py-1'>Sprint Demo</div>
    <div class='text-gray-600 px-4 py-1'>Benjamin Lim</div>
    <div class='text-gray-600 px-4 py-1'>19 Oct 2021 2:00pm</div>
    <div class='text-gray-600 px-4 py-1'>1:46</div>
    <div class='text-gray-600 px-4 py-1'>Senior Mgmt</div>
    <div class='text-gray-600 px-4 py-1'>Ong Lai Huat</div>
    <div class='text-gray-600 px-4 py-1'>15 Oct 2021 3:00pm</div>
    <div class='text-gray-600 px-4 py-1'>0:24</div>
    <div class='text-gray-600 px-4 py-1'>Talk Cock Sing Song</div>
    <div class='text-gray-600 px-4 py-1'>Bella Lee</div>
    <div class='text-gray-600 px-4 py-1'>08 Oct 2021 2:30pm</div>
    <div class='text-gray-600 px-4 py-1'>1:21</div>
    <div class='text-gray-600 px-4 py-1'>Catch Up</div>
    <div class='text-gray-600 px-4 py-1'>James Lee</div>
    <div class='text-gray-600 px-4 py-1'>02 Oct 2021 10:00am</div>
    <div class='text-gray-600 px-4 py-1'>0:46</div>
  </div>
</Container>